<div class="jumbotron">
  <h1>Welcome to CD Library</h1>
  <p>CD Library is a place to keep track and/or display your CD's. In this app, you can view your entire collection or the collection of other members. All CD's are listed with the following information: Artist, Album, Year, and Genre. You can add CD's to your personal library, update an existing entry, or delete an item. View other users CD's to see what they are listening to and explore new music.</p>
  <p>Please <a href="/users/login">log in</a>.</p>
  <p><b>New to CD Library?</b></p>
    <p>Please <a href="/users/signup">sign up</a>.</p>
</div>
