<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="body">
    {{#if user}}
      <a href="/users/logout">logout</a>
    {{else}}
    <h1> Welcome to Cd Library</h1>
    <p>Cd Library is a place for you to keep track of all your cd's. In this app, you can view your entire collection or do modified searches such as: Artist, Album, Year, or Genre. You can add cd's to your library, update an existing entry, or delete them.</p>
    <p>Please <a href="/users/login">log in</a>.</p>
    <p>New to Cd Library? Please <a href="/users/signup">sign up</a>.</p>
    {{/if}}
  {{{body}}}
</body>
</html>
