<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css?v=6c3fe6e9cc">
</head>
<title>CD Library</title>
<body class="body">
  <header>
      <img src="http://i.imgur.com/pM5QShF.png" style="width:300px;" alt="cd-library logo"/>
  </header>
    {{#if user}}
    <nav>
      <div class="welcome">Welcome {{user.username}}!</div>
      <a href="/users/logout" class="logout">logout</a>
    </nav>
    {{else}}

    {{/if}}
  {{{body}}}
</body>
</html>
