<!DOCTYPE html>
<html lang="en">
<head>
  <!-- <link rel="stylesheet" type="text/css" href="/css/reset.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body class="body">
    {{#if user}}
      <a href="/users/logout">logout</a>
    {{else}}
    
    {{/if}}
  {{{body}}}
</body>
</html>
