<div>
  <h2>Edit Cd</h2>
    <form action="/users/{{_id}}" method="post">
        <input type="text" name="newCd" placeholder="Artist"><br><br>
        <input type="text" name="newCd" placeholder="Album"><br><br>
        <input type="text" name="newCd" placeholder="Year"><br><br>
        <input type="text" name="newCd" placeholder="Genre"><br><br>
        <input type="submit">
    </form>
</div><br>
<div>
    <a href="/users/show">Back</a>
</div>
