<h1> This is your cd library</h1>
<a id="newUser" href="/users/new">New User</a>
{{#each users}}
    <div class="user">
        <div class="userName"><a href="/users/{{_id}}">{{name}}</a></div>
            {{#each cds}}
                <p class="reminder">{{body}}</p>
            {{/each}}
            <br>
        </div>
{{/each}}
