<h1>Users index</h1>
{{#each users}}
        <div>
          <label>User Name: </label>
          <a href="/users/show/{{_id}}">{{username}}</a><br>
        </div>
{{/each}}<br>
<div>
    <a href="/">Back</a>
</div>
