<div class="contact-link"><a href="/">
<div class="contact-icon"><i class="fa fa-arrow-circle-left"></i></div></a></div>

<div class="index">
  <h1>Users index</h1>

  {{#each users}}
    <div>
      <a href="/users/show/{{_id}}">{{username}}</a><br>
    </div>
  {{/each}}<br>
</div>
