<div class="contact-link">
  <a href="/">
    <div class="contact-icon">
      <i class="fa fa-arrow-circle-left"></i>
    </div>
  </a>
</div>

<div class="index">
  <h1>Users index</h1>

  {{#each users}}
  <div class="users">
    <a href="/users/show/{{_id}}" class="fa fa-music" id="user">{{username}}</a>
  </div>
  {{/each}}
</div>
