<h2>Add a new cd</h2>

<form action="/users" method="post">
  <input type="text" name="artist" placeholder="artist"><br>
  <input type="text" name="album" placeholder="album"><br>
  <input type="text" name="year" placeholder="year"><br>
  <input type="text" name="genre" placeholder="genre"><br>
  <button type="submit">New Cd</button>
</form>
