<div>
  <h2>New Cd</h2>
    <form action="/users/{{_id}}" method="post">
        <label>Artist:</label>
        <input type="text" name="newCd"><br><br>
        <label>Album:</label>
        <input type="text" name="newCd"><br><br>
        <label>Year:</label>
        <input type="text" name="newCd"><br><br>
        <label>Genre:</label>
        <input type="text" name="newCd"><br><br>
        <input type="submit">
    </form>
</div><br>
<div>
    <a href="/users/show">Back</a>
</div>
