<div class="contact-link">
  <a href="/users/show/{{user._id}}">
    <div class="contact-icon">
      <i class="fa fa-arrow-circle-left"></i>
    </div>
  </a>
</div>

<div class="home">
  <h1>New CD</h1>
    <form action="/users/new/cd" method="post">
        <input type="hidden" value="{{user._id}}" name="userId">
        <label>Artist:</label><br>
        <input type="text" name="artist" maxlength="20"><br><br>
        <label>Album:</label><br>
        <input type="text" name="album" maxlength="28"><br><br>
        <label>Year:</label><br>
        <input type="text" name="year" maxlength="4"><br><br>
        <label>Genre:</label><br>
        <input type="text" name="genre" maxlength="20"><br><br>
        <input type="submit" class="btn btn-success btn-lg" value="Add">
    </form>
</div><br>
