<h2>Cd Library</h2>
{{#each users}}
  <div>
    <h3>New Cd</h3>
    <a href="users/new">Create a new cd</a>
  </div>
{{/each}}

<!-- <div id="author-edit">
    <a href="/authors/{{author._id}}/edit">Edit Author</a>
    <a href="/authors">Back</a>
</div> -->
