<h2>Cd Library</h2>
  <div>
    <ul>
      <li>Artist: {{artist}}</li>
      <li>Album: {{album}}</li>
      <li>Year: {{year}}</li>
      <li>Genre: {{genre}}</li>
      <li><a href="/users/edit">Edit</a></li>
    </ul>
    <a href="/users/new">Create new Cd</a>
  </div><br>
  <div>
      <a href="/users">Back</a>
  </div>
