<h1>{{user.username}} CD Library</h1>

<!-- {{#if user}}
{{#each cd}}
  <ul>
    <li>{{username}}</li>
    /* show route */
    <a href="/users/{{_id}}">show</a>
  </ul>
{{/each}}
{{/if}} -->
<form action="/users/:id/cds" method="post">
  <input type="text" name="add cd" placeholder="add cd">
  <button type="submit">Add Cd</button>
</form>
<p>Add, edit or delete a cd</p>



{{#each user.cdLibrary}}
  <ul>
    <li>{{artist}}</li>
  </ul>
{{/each}}
